body {background-color: #FFFFFF; font-family: "Veradana,sans-serif";
      color: #000000;}
p{ max-width: 90ex }

h1 {font-size: 1.5em; color: #AA0000; font-family: "sans-serif";}
h2 {font-size: 1.3em; color: #AA0000; font-family: "sans-serif"; 
    background: #FFE0E0;}
h3 {font-size: 1.0em; color: #AA0000; font-family: "sans-serif"; 
    background: #E0E0FF;}

a {color: #3030AA; text-decoration:none}
a:hover {text-decoration:underline}

pre {font-size: 1.1em;  background: #D0D0FF; color: #000000; padding: 2ex; width:90ex}
img{border-style: none;}

.container {align: center; width:90%; max-width:150ex; margin: 0 5%; padding:0}

.headshot {position: absolute; top: 25px; right: 150px; border: 0;}

.banner {position: absolute; top: 0px; left: 0px; border: 0; z-index: -1; 
	 height: 150px}

.name {font-size: 1.1em; padding:0px; margin: 0.0em; min-height:50px;
       font-family: "sans-serif"}

.description {font-size: 1.1em; margin: 0px; padding:0px; 
	      font-family: "sans-serif"}

.projectcontainer {align: center; width:92%; max-width:150ex; margin: 0 4%;}
.project {float: left; margin: 1%; width: 31%; padding: 0; 
	  text-align: center; font-family: "sans-serif";
	  background: #FFFFFF; border:1px solid #000000;}
.project h2 {margin-bottom: 0ex; margin-top: 0.0ex;}
.project h3 {margin-bottom: 0.5ex; margin-top: 0.0ex;}
.project p{padding-left: 12pt; padding-right: 12pt; 
	   padding-top: 0pt; padding-bottom:0pt}